* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background-color: whitesmoke;
}
.nav_bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color:white ;
    color: black;
    box-shadow: 2px 1px 2px darkgrey;
    position: fixed;
    top: 0;
}

.nav_items {
    width: 45%;
    display: flex;
    gap: 4rem;
    justify-content: end;
    align-items: center;
}
.brand {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.item {
    background-color: azure;
    border-radius: 10px;
    border: none;
    padding: 10px;
    text-decoration: dotted;
    color: black;
}:focus {
    outline: none;
}
li {
    list-style: none;
}
.item:hover {
    background-color: orange;
    color: white;
}
.form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    min-width: 35vw;
    min-height: 35vh;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: white;
    border-radius: 9px;
    padding: 1.5rem;
    box-shadow:2px 2px 2px darkgray;
}
.form-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.text-line{
    text-align: center;
    font-size: 1rem;
}
.err_mgs {
    margin:2px;
    text-align: center;
    color: red;

}
.success_msg {
    margin: 8.5px;
    text-align: center;
    color: green;
}

.form > div {
    width: 100%;
}
input {
    width: 100%;
    padding: 7px;
}:focus {
    outline: none;
}
.submit-btn {
    background-color: gainsboro;
    color: black; 
    padding: 10px;  
    border: none;
    border-radius: 7px;
    font-weight: bolder;
    cursor: pointer;
}:focus{
    outline: none;
}
#link {
    margin-left: 6px;
    color: black;
}

@media(min-width:631px) and (max-width: 1260px) {
    .form {
        min-width: 48vw;
    }
}
@media(max-width: 630px) {
    .form {
        min-width: 90vw;
    }
    .form-text > p {
    font-weight: unset;
}
}